<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&amp;display=swap" rel="stylesheet">

<title>Login</title>


</head>
<body>
    <div class="container">
        <a1>Bem vindo ao Quiz do Flu !</a1>
        <h1> Realize o Login</h1>
        <h2>Ou</h2>
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
            <a href="{{ url_for('register') }}">cadastre-se!</a>

        </form>
        

    </div>
</body>
</html>
